.main {
	margin: 0;
	padding: 0;
}

.title {
	font-size: 9rem;
	color: yellow;
	margin-bottom: 1rem;
	text-align: center;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.headerTitle {
	font-size: 3rem;
	color: white;
	font-weight: 900;
	margin-bottom: 1rem;
}

.headerText {
	flex-basis: 100%;
	order: 2;
}

.headerSubtitle {
	margin-top: 0;
	font-size: 1.5rem;
}

.memeMan {
	width: 180px;
	height: 202px;
	order: 0;
}

.doge {
	width: 200px;
	height: 200px;
	order: 1;
}

@media (min-width: 1200px) {
	.headerText {
		flex-basis: unset;
	}

	.memeMan {
		width: 275px;
		height: 309px;
		margin-top: 3rem;
	}

	.doge {
		order: 4;
	}
}

.headerText {
	width: 500px;
	height: 250px;
	color: white;
	/* border: 3px solid black;
	background-color: goldenrod; */
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin: 6rem;
	margin-top: 2rem;
}

.container {
	min-height: 100vh;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.65);
}

.stonks {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 5rem 0;

	padding-left: 0;
	justify-items: center;
	align-items: center;
	justify-content: center;
}

.stonkTitle {
	text-align: center;
	font-weight: 800;
}

.stonkShort {
	font-size: 2rem;
	margin: 0.5rem;
	font-weight: 900;
}

.stonkExchange {
	font-weight: 500;
	font-size: 1.3rem;
}

.stonk {
	margin: 2rem;
	background-color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 8px solid black;
	border-style: inset;
}

.stonk img {
	width: 100%;
	height: 100%;
}
