.main {
	margin: 0;
	padding: 0;
}

.header {
	width: 500px;
	height: 250px;
	border: 3px solid black;
	margin: 5rem 0;
	background-color: goldenrod;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.container {
	min-height: 100vh;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.stonks {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 5rem 0;

	padding-left: 0;
	justify-items: center;
	align-items: center;
	justify-content: center;
}

.stonkTitle {
	text-align: center;
}

.stonkShort {
	font-size: 2rem;
	margin: 0.5rem;
}

.stonk {
	margin: 2rem;
	background-color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
}

.stonk img {
	width: 100%;
	height: 100%;
}
